/* Starr Nakamitsu */
/* January 23, 2024 */
/* CS 341 */

/* background */
body{
	background-color: rgb(255, 227, 240);
}

/* heading */
h1{
	color: white;
	text-decoration-line: overline;
	font-family: "Copperplate", Fantasy;
	letter-spacing: 2px;
	text-shadow: 1px 1px 3px black;
	text-align: center;
}

/* Quantity and Topping table */
table{
	background-color: rgb(251, 255, 197);
	border-style: dotted;
	border-color: rgb(161, 99, 23);
	margin-top: -200px;
	margin-left: 300px;
	width: 400px;
	height: 200px;
	padding: 10px;
}

/* Quantity and Topping Heading */
th{
	font-family: "Copperplate", Fantasy;
	letter-spacing: 2px;
	color: white;
	font-size: 30px;
	text-shadow: 1px 1px 5px black;
	
}

/* Table Data */
td{
	padding-left: 55px;
	font-size: 15px;
	font-family: "Monaco", "Courier New", Monospace;
}

deets{
	font-size: 15px;
	font-family: "Monaco", "Courier New", Monospace;
	color: black;
	text-shadow: 0px 0px 0px black
}

/* Notes text box */
textarea{
	background-color: rgb(251, 255, 197);
	border-style: dotted;
	border-color: rgb(161, 99, 23);
}

/* Heading 3 (Total orders last month) */
h3{
	font-family: "Copperplate", Fantasy;
	font-size: 30px;
	color: white;
	text-decoration-line: overline;
	text-shadow: 1px 1px 3px black;
	margin: auto;
	text-align: center;
}

/* List of total orders */
ul{
	background-color: rgb(251, 255, 197);
	border-style: dotted;
	border-color: rgb(161, 99, 23);
	font-family: "Monaco", "Courier New", Monospace;
	font-size: 20px;
	
}

/* Referenced from: https://www.w3schools.com/howto/howto_css_dropdown.asp */

/* dropdown button details (color/text)*/
.dropdown-button {
	background-color: rgb(251, 255, 197);
	color: white;
	font-family: "Copperplate", Fantasy;
	text-shadow: 1px 1px 3px black;
	padding: 16px;
	font-size: 25px;
	border: none;
	border-style: dotted;
	border-color: rgb(161, 99, 23);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 100px;
  }
  
/* The dropdown button */
.dropdown {
	width: 7%;
	margin-left: auto;
	margin-right: auto;
}
  
/* Dropdown button content (color) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(251, 255, 197);
	min-width: 160px;
	font-family: "Monaco", "Courier New", Monospace;
	z-index: 1;
	overflow: auto;
	max-height: 150px;
}
  
/* Dropdown button content (text) */
.dropdown-content a {
	color: black;

	padding: 12px 16px;

	text-decoration: none;
	font-family: "Monaco", "Courier New", Monospace;

	display: block;
}
  
.dropdown-content a:hover {background-color: rgb(250, 255, 173);}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropdown-button {background-color: rgb(250, 255, 173);}